<h2>Flight Search Form</h2>

<%= form_with url: "/flights", method: :get do |form| %>
  <%= form.label :airport_code %>
  <%= form.select :airport_code, Airport.order(:code).map { |airport| [airport.code, airport.id] } %>
  
  <%= select_tag(:airport_code, options_for_select(@airport)) %><br><br>


  <%= form.submit "Search Flights" %>
<% end %>
