<h2>Flight Search Form</h2>

<%= form_with url: "/flights", method: :get do |form| %>
  <%= form.label :departure_id %>
  <%= select_tag(:departure_id, options_for_select(@airport, selected: params[:departure_id])) %><br><br>

  <%= form.label :arrival_id %>
  <%= select_tag(:arrival_id, options_for_select(@airport, selected: params[:arrival_id])) %><br><br>

  <%= form.label :passengers %>
  <%= select_tag(:passengers, options_for_select([1, 2, 3, 4], selected: params[:passengers])) %><br><br>

  <%= form.label :start_datetime %>
  <%= select_tag(:start_datetime, options_for_select(@start_datetime, selected: params[:start_datetime])) %><br><br>

  <%= form.submit "Search Flights" %>
<% end %>

<h2>Available Flights:</h2>
<% if @search != nil %> 
  <%= form_with url: "bookings/new/", method: :get do |form| %>

  <%= form.hidden_field :passengers, :value => params[:passengers] %>

    <% @search.each do |flight| %>
      <p><%= "Depart: " + flight.departure_airport.code %></p>
      <p><%= "Arrive: " + flight.arrival_airport.code %></p>
      <p><%= flight.start_datetime %></p>

      <%= form.radio_button :flight_id, flight.id %>
      <%= form.label :flight_id, "Flight from #{flight.departure_airport.code} to #{flight.arrival_airport.code} on #{flight.start_datetime}" %> <br><br>
    <% end %>
    <%= form.submit "Book Flight" %>
  <% end %>
  <% else %>
    <p class="flash-alert"><%= flash[:alert] %></p>
<% end %>

